footer{color: deeppink;}
footer{margin-left:1cm;}
table{color: blue;}
table {font-size: x-large;}
table {font-family: Verdana, Geneva, Tahoma, sans-serif;}
table {border-style: double;}
table {border-color: crimson;}
td {border-style: double;}
tr {border-style: double;}
li{color: rgb(19, 196, 78);}
li {font-size: x-large;}
li {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
body {background-color: blanchedalmond;}