h3 {color: red;}
h3 {font-size: xx-large;}
h3 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
li{color: rgb(19, 196, 78);}
li {font-size: x-large;}
li {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
body {background-color:rgb(252, 205, 253);}